<!doctype html>
<html lang="en">
<head>
	<title>ECHO!</title>
	<style type="text/css">
		{{.Style}}

		table { font-family: monospace }
	</style>
</head>
<body>
	<div class="container">
		<h1>httpecho</h1>

		<p>This service echos details about a request back to the client.</p>

		<h3>Request Details</h3>

		<table class="table">
			<tr>
				<th>Method</th>
				<td>{{.Method}}</td>
			</tr>
			<tr>
				<th>URL</th>
				<td>{{.URL}}</td>
			</tr>
			<tr>
				<th>Headers</th>
				<td>
					<table>
						{{range $key, $values := .Header}}
							{{ range $_, $value := $values }}
								<tr>
									<th>{{$key}}</th>
									<td>{{$value}}</td>
								</tr>
							{{end}}
						{{end}}
					</table>
				</td>
			</tr>
			{{ if .ShowEnv }}
			<tr>
				<th>ENV</th>
				<td>
					<table>
						{{range $key, $value := .Env}}
							<tr>
								<th>{{$key}}</th>
								<td>{{$value}}</th>
							</tr>
						{{end}}
					</table>
				</td>
			</tr>
			{{ end }}
		</table>
	</div>
</body>